<!-- Loop over each object in the projects array -->
<div class="row mb-4 project">
  <div class="col-md-12">
    <h4>File upload Demo using 'multer'</h4>
    <h5>
      <p>
        This utility uses 'multer' to upload files. Uploaded files can be either saved to a directory or to the database (MySQL using Seuelize). The available endpoints are:
      </p>
      <ul>
        <li><a href="/uploadFileDB">DB File upload</a></li>
        <li><a href="/uploadFileDir">Dir File upload</a></li>
      </ul>
    </h5>
  </div>
</div>



